.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 3rem;
}

.movie-list-page {
  padding: 1rem;

  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    gap: 1rem;
  }

  .title {
    font-size: 2rem;
    font-weight: 700;
  }

  .favorite-switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
}
